.DS_Store
_to_delete/
foto.zip
# originalfiler i full oppløsning skal aldri publiseres
/*.jpg
/*.JPG
/*.jpeg
/*.tif
/*.tiff
/*.NEF
/*.ARW

# personbilder/originaler
/Shujah/

# kildebilder til kunstnerprofil (publiseres ikke)
shujahprofil/
Shujah_kunstnerprofil.png
